:root {
  --box-shadow-color: rgba(27, 28, 30, 0.25);
  --weather-black: #1b1c1e;
  --weather-gray: #d5d9d4;
  --weather-dark-red: #9b5859;
  --weather-red: #ea534e;
  --weather-dark-blue: #233947;
  --weather-blue: #8eafc5;
  --weather-light-yellow: #eae5ca;
  --weather-beige: #fdeee1;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/Raleway-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

h1 {
  margin: 0;
  color: green;
}

.sunny {
  background-image: url('../assets/bg_sunny.png');
  width: auto;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.clouds {
  background-image: url('../assets/bg_clouds.png');
  width: auto;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.storm {
  background-image: url('../assets/bg_storm.png');
  width: auto;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.rain {
  background-image: url('../assets/bg_rain.png');
  width: auto;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.snow {
  background-image: url('../assets/bg_snow.png');
  width: auto;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wind {
  background-image: url('../assets/bg_wind.png');
  width: auto;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.div-weather-info {
  margin: auto;
  width: 50%;
  height: 768px;
  background: var(--weather-beige);
  font-weight: 200;
  border-radius: 8px;
  box-shadow: 4px 4px 20px var(--box-shadow-color);
}

/*.flex-wrapper {
  background-color: orange;
}*/

/*FLEX CSS 
FOR WEATHER INFO AND DETAILS*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.big-column {
  height: 280px;
}

.blue-column {
  height: 120px;
  text-align: center;
}

.green-column {
  height: 120px;
  text-align: center;
}

/*FORM*/

.div-form {
  margin-top: 40px;
}

.input-location {
  border-radius: 6px;
  height: 40px;
  margin: 0 10px;
  font-size: 16px;
}

.btn-location {
  border: none;
  background: transparent;
  color: var(--weather-red);
  border-radius: 4px;
  cursor: pointer;
}

/*WEATHER DESCRIPTION*/

.w-description {
  background-image: url('../assets/sunRedDropShadow.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 150px 150px;
  margin-top: 10px;
}

.w-description p {
  margin-top: 180px;
  text-align: center;
  font-size: 1.5em;
}

/*CITY TEMPERATURE*/
.w-city-temperature {
  margin-top: 10px;
  text-align: center;
}

.div-city-name {
  font-size: 2.8em;
}

.div-temperature {
  font-size: 2.5em;
}

.div-feels-like {
  font-size: 1.5em;
  font-weight: 100;
}

.div-feels-like-temp {
  font-size: 1.5em;
}

/*WEATHER DETAILS*/

.w-title {
  font-size: 1.5em;
  font-weight: 100;
}

.w-value {
  font-size: 1.5em;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}
